In [1]:
from evaluate import evaluate_pii_metrics
from evaluate_loubna import evaluate_pii_ds

In [12]:
import json
pii = [{'tag': 'KEY', 'start': 99, 'end': 110}, {'tag': 'EMAIL', 'start': 0, 'end': 7},
           {'tag': 'EMAIL', 'start': 10, 'end': 20}]
secrets = [{'tag': 'KEY', 'start': 99, 'end': 109}, {'tag': 'EMAIL', 'start': 10, 'end': 21}]

In [13]:
dataset = [
    {
        'file': 'hello_wold.py',
        'secrets': json.dumps(secrets),
        'pii': json.dumps(pii),
        
    },
    {
        'file': 'hello_wold.py',
        'secrets': json.dumps(pii),
        'pii': json.dumps(secrets[:1]),
        
    }
]

In [14]:
_, _, d = evaluate_pii_ds(dataset, return_details=True)
d[0]

{'EMAIL': {'TP_pred': [{'tag': 'EMAIL', 'start': 10, 'end': 20}],
  'TP_ref': [{'tag': 'EMAIL', 'start': 10, 'end': 21}],
  'FN': [],
  'FP': [{'tag': 'EMAIL', 'start': 0, 'end': 7}]},
 'IP_ADDRESS': {'TP_pred': [], 'TP_ref': [], 'FN': [], 'FP': []},
 'KEY': {'TP_pred': [{'tag': 'KEY', 'start': 99, 'end': 110}],
  'TP_ref': [{'tag': 'KEY', 'start': 99, 'end': 109}],
  'FN': [],
  'FP': []}}

In [6]:
import pandas as pd
df = evaluate_pii_metrics(dataset)
summary = df.sum()
df

            TP_ref  TP_pred  FN  FP
EMAIL            2        1   0   2
IP_ADDRESS       0        0   0   0
SSH_KEY          0        0   0   0
API_KEY          2        2   0   0
NAME             0        0   0   0
USERNAME         0        0   0   0
PASSWORD         0        0   0   0
AMBIGUOUS        0        0   0   0

In [7]:
metric_df, detail_metrics, details = evaluate_pii_metrics(dataset, return_details=True)

In [11]:
print('Precision ', summary['TP_pred'] / (summary['TP_pred'] + summary['FP']))
print('Recall ', summary['TP_ref'] / (summary['TP_ref'] +  summary['FN']))

Precision  0.6
Recall  1.0

In [12]:
# show detail metrics for each tag and sample
pd.concat(detail_metrics).T

   EMAIL               IP_ADDRESS               SSH_KEY          ... USERNAME  \
  TP_ref TP_pred FN FP     TP_ref TP_pred FN FP  TP_ref TP_pred  ...       FN
0      2       1  0  0          0       0  0  0       0       0  ...        0
1      0       0  0  2          0       0  0  0       0       0  ...        0

     PASSWORD               AMBIGUOUS
  FP   TP_ref TP_pred FN FP    TP_ref TP_pred FN FP
0  0        0       0  0  0         0       0  0  0
1  0        0       0  0  0         0       0  0  0

[2 rows x 32 columns]

In [13]:
# show evaluation details for sample 0
details[0]['EMAIL']

{'TP_ref': [{'tag': 'EMAIL', 'start': 0, 'end': 7},
  {'tag': 'EMAIL', 'start': 10, 'end': 20}],
 'TP_pred': [{'tag': 'EMAIL', 'start': 0, 'end': 119}],
 'FN': [],
 'FP': []}